mixin icon(name, w=100, h=100)
  svg(class=`svg-icon svg-icon--${name}`, width=`${w}`, height=`${h}`)&attributes(attributes)
    use(xlink:href=`/images/icons.svg#${name}`)
    if block
      block
    else


//--------------------

//--------------------

mixin randomNum(numMax = 100)
  =(Math.random() * numMax + 1 | 0)

//--------------------

mixin pictureLazy(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    source(type='image/webp' srcset='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-srcset=`/images/${name}.webp`)
    img.lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=`/images/${name}.${ext}` width=`${w}`, height=`${h}` alt=`${alt}` loading="lazy")

//--------------------


mixin picture(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    source(type='image/webp' srcset=`/images/${name}.webp`)
    img(src=`/images/${name}.${ext}` width=`${w}`, height=`${h}` alt=`${alt}`)

//--------------------



mixin pictureZoom(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    source(type='image/webp' srcset=`/images/${name}.webp`)
    img(src=`/images/${name}.${ext}` width=`${w}`, height=`${h}`, alt=`${alt}`, class='js-zoom-image', data-big-img-src=`/images/${name}-2x.${ext}` loading="lazy")

mixin pictureZoomSourceMobile(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    source(type='image/webp' srcset=`/images/${name}.webp`)
    img(src=`/images/${name}.${ext}` width=`${w}`, height=`${h}`, alt=`${alt}`, class='js-zoom-image-source-mobile', data-big-img-src=`/images/${name}-2x.${ext}` loading="lazy")

mixin pictureZoomReceiverMobile(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    img(src=`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==` width=`${w}`, height=`${h}`, alt=`${alt}`, class='js-zoom-image-receiver-mobile', data-big-img-src=``)

//--------------------

mixin dummyImg(w=500, h=500, bg='000', color='fff', text='text', alt='dummy image')
  picture&attributes(attributes)
    source(type='image/webp' srcset='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-srcset=`https://dummyimage.com/${w}x${h}/${bg}/${color}&text=${text}`)
    img.lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=`https://dummyimage.com/${w}x${h}/${bg}/${color}&text=${text}` width=`${w}`, height=`${h}` alt=`${alt}` loading="lazy")

//--------------------
mixin button(type, isLink)
    if isLink
        a(href='#' class=`button button--link button--${type}`)&attributes(attributes)
            if block
                block
            else
    else
        button(class=`button button--${type}`)&attributes(attributes)
            if block
                block
            else


//--------------------
